<div id="response">
    {% if json %}
    
        <blockquote>
            "{{ json }}"
            <footer>
                <cite> Père Castor</cite>
            </footer>
        </blockquote>
    
    {% endif %}

</div>