{% extends 'base.html.twig' %}

{% block body %}
    <div id="response">
        {% if json %}
            <div class="recipe">
                {{ json | nl2br }}
            </div>
        {% endif %}
    </div>
{% endblock %}
